.formsfx-group {
    -fx-border-width: 1px;
    -fx-border-color: rgb(200.0, 200.0, 200.0);
    -fx-border-insets: 0;
    -fx-padding: 5px;
}

.group-grid {
	-fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 0;
}

.formsfx-section {
	-fx-border-width: 0;
	-fx-border-insets: 4px;
    -fx-padding: 0;
}
.titled-pane > * > * > AnchorPane {
    -fx-padding: 0 ;
}


.titled-pane {
	-fx-border-insets: 0;
	-fx-padding: 0;
}